* {
  margin: 0;
  background-color: black;
  color: rgb(240, 238, 238);
  font-size: 18px;
}
.main {
  padding: 3% 28%;
}

img {
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.image {
  text-align: center;
  margin-bottom: 15px;
}
.text {
  text-align: center;
  margin-bottom: 25px;
}

b {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
p {
  color: rgba(255, 255, 255, 0.6);
}
.link {
  text-align: center;
  border-radius: 15px;
  padding: 16px;
  margin-bottom: 20px;
  background-color: rgb(34, 34, 34);
}

a {
  text-decoration: none;
  background-color: rgb(34, 34, 34);
}

.link:hover {
  transform: scale(1.08);
  transition: ease-in-out;
  
}
